* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.button{
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 8px;
    border-radius: 12px;
    width: 125px;
    border: none;
}

header{
    height: 50px;
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

header a, .links{
    display: flex;
    gap: 50px;
    color: #e5e7eb;
    font-size: 16px;
}

.about{
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    height: 500px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.about .text{
    display:flex;
    flex-direction:column;
    width: 500px;
    gap: 15px;
}

.about img{
    width:  250px;
    height: 250px;
}

.events{
    padding: 75px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.events .header{
    display: flex;
    align-self: center;
    color: #1F2937;

}

.events img{
    width:  200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.events p{
    width: 200px;
}

.events .sections{
    display: flex;
    justify-content: space-around;
}

.quote{
    background: #aeafb3;
    padding: 80px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.quote em{
    font-size: 35px;
}

.quote b{
    font-size: 20px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin: 50px;
}

.email .button{
    border: 3px solid #e5e7eb;
    border-radius: 12px;
    padding: 8px;
}

.footer{
    height: 50px;
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 14px;
}